@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: green;
    width: 800px;
    height: 40px;
    text-align: center;
    color: white;
    border: black 2px solid;
}

div {
    margin-top: 15px;
}

label {
    display: inline-block;
    color: green;
    width: 300px;
}

button {
    margin-left: 303px;
}

span {
    text-transform: uppercase;
}